@import "variables"

@font-face
  font-family 'icomoon'
  src url(icomoon-font-path + '/icomoon.eot?2ufwpn')
  src url(icomoon-font-path + '/icomoon.eot?2ufwpn#iefix') format('embedded-opentype'), url(icomoon-font-path + '/icomoon.ttf?2ufwpn') format('truetype'), url(icomoon-font-path + '/icomoon.woff?2ufwpn') format('woff'), url(icomoon-font-path + '/icomoon.svg?2ufwpn#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-bitcoin
  &:before
    content icon-bitcoin
.icon-calendar
  &:before
    content icon-calendar
.icon-search
  &:before
    content icon-search
.icon-cogs
  &:before
    content icon-cogs
.icon-loop2
  &:before
    content icon-loop2
.icon-circle-up
  &:before
    content icon-circle-up
.icon-circle-down
  &:before
    content icon-circle-down
.icon-rss
  &:before
    content icon-rss
.icon-rss2
  &:before
    content icon-rss2
.icon-github
  &:before
    content icon-github

