icomoon-font-path ?= "/fonts"

icon-bitcoin = "\e900"
icon-calendar = "\e953"
icon-search = "\e986"
icon-cogs = "\e995"
icon-loop2 = "\ea2e"
icon-circle-up = "\ea41"
icon-circle-down = "\ea43"
icon-rss = "\ea9b"
icon-rss2 = "\ea9c"
icon-github = "\eab0"

