div.adsensediv_tall
	// tools.gyengus.hu_banner1
	ins.adsbygoogle(style='display:inline-block;width:120px;height:600px', data-ad-client='ca-pub-9904830194934484', data-ad-slot='1078245485')
script.
	(adsbygoogle = window.adsbygoogle || []).push({});
