script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
// tools.gyengus.hu_banner
//div(style='height: 300px;')
	ins.adsbygoogle(style='display:block;', data-ad-client='ca-pub-9904830194934484', data-ad-slot='6867977886', data-ad-format='auto')
//script.
	(adsbygoogle = window.adsbygoogle || []).push({});
// tools.gyengus.hu_banner2
div.adsensediv
	ins.adsbygoogle(style='display:inline-block;width:120px;height:240px', data-ad-client='ca-pub-9904830194934484', data-ad-slot='8923133887')
script.
	(adsbygoogle = window.adsbygoogle || []).push({});
