script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
// tools.gyengus.hu_banner
ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-9904830194934484', data-ad-slot='6867977886', data-ad-format='auto')
script.
	(adsbygoogle = window.adsbygoogle || []).push({});
