script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
div.adsensediv
	ins.adsbygoogle(style='display:inline-block;width:120px;height:240px', data-ad-client='ca-pub-9904830194934484', data-ad-slot='8923133887')
script.
	(adsbygoogle = window.adsbygoogle || []).push({});
