.blockchain-btn(style='font-size:16px;margin:0 auto;width:300px', data-address='13GmYWd41WGnLTnarzVihnjew2ayLK7unc', data-shared='false')
	.blockchain.stage-begin
		img(src='/images/bitcoin_donate_btn.svg')
	.blockchain.stage-loading(style='text-align:center')
		img(src='/images/loader.gif')
	.blockchain.stage-ready
		p(align='center')
			| Please Donate To Bitcoin Address:
			b [[address]]
		p.qr-code(align='center')
	.blockchain.stage-paid
		| Donation of
		b [[value]] BTC
		|  Received. Thank You.
	.blockchain.stage-error
		font(color='red') [[error]]
