a.btc_btn(href='#')
	img(src='/images/bitcoin_donate_btn.svg', border='0', alt='', title='')
#shadow
#btc_popup
	.box-title
		h3
			span.icon.icon-bitcoin
			| Adományozz Bitcoint!
	.box-body
		| Scanneld a mobiloddal!
		br
		img(src='/images/btc_address_qr.png', border='0', alt='Scanneld a mobiloddal!', title='Scanneld a mobiloddal!')
		br
		| 13GmYWd41WGnLTnarzVihnjew2ayLK7unc
