extends layout

block content
	#box-container
		+box()
			form#cse-search-box(action='http://www.google.hu', target='_blank')
				div
					input(type='hidden', name='cx', value='partner-pub-9904830194934484:3774910685')
					input(type='hidden', name='ie', value='UTF-8')
					input#in_q(type='text', name='q', placeholder='', accesskey='q')
			script(type='text/javascript', src='http://www.google.hu/coop/cse/brand?form=cse-search-box&lang=hu')
		+box('IP/Host')
			| IP:
			span#ip #{ip}
			div#hostname
		+box('Olvasnivaló')
			!= news
		+box('Jelszó generátor')
			span#password
			|&nbsp;
			button#genpasswordbtn(title='Új jelszó')
				span.icon.icon-loop2
		+box('')
			include adsense_banner.jade
		+box('Hashelés')
			input#in_hash_str(name='in_hash_str', placeholder='Szöveg')
			| Algoritmus:&nbsp;
			select#in_hash
				option(value='md5') MD5
				option(value='sha1') SHA1
				option(value='sha256') SHA256
				option(value='sha512') SHA512
			|&nbsp;
			button#genhashbtn(title='Generálás')
				span.icon.icon-cogs
			br
			div#out_hash
		+box('Hostname lekérdezése')
			input#in_ip(type='text', name='in_ip', placeholder='IP', data-click='#gethostnamebtn')
			button#gethostnamebtn
				span.icon.icon-search
			img#hostloader(src='images/loader.gif')
			br
			span#out_hostname
		+box('IP lekérdezése')
			input#in_hostname(type='text', name='in_hostname', placeholder='Hostname', data-click='#getipbtn')
			button#getipbtn
				span.icon.icon-search
			img#iploader(src='images/loader.gif')
			br
			span#out_ip
		+box('date();')
			| UNIX timestamp:
			br
			input#in_timestamp(type='text', data-click='#datebtn')
			button#datebtn
				span.icon.icon-calendar
			br
			| Dátum:&nbsp;
			span#out_date
		+box('strtodate();')
			| Dátum, idő:
			br
			input#in_date(type='text', data-click='#strtodatebtn')
			button#strtodatebtn
				span.icon.icon-calendar
			br
			| UNIX timestamp:&nbsp;
			span#out_timestamp
		+box('urlencode/urldecode')
			input#in_uedstr(placeholder='Szöveg')
			input(type='radio', name='uedm', id='ue', checked='checked')
			label#uelabel(for='ue')
				| encode
			input(type='radio', name='uedm', id='ud')
			label#udlabel(for='ud')
				| decode
			button#uedbtn
				span.icon.icon-cogs
			.clearfix
			#out_ued
		+box('Tetszik az oldal?')
			.donatebtns
				form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_blank')
					input(type='hidden', name='cmd', value='_s-xclick')
					input(type='hidden', name='hosted_button_id', value='C4ZRKDB77CARN')
					input#ppdonateimg(type='image', src='https://img.shields.io/badge/PayPal-Donate-yellow.svg', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!', title='PayPal - The safer, easier way to pay online!')
					img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
				a(href='https://www.gittip.com/gyengus/', target='_blank')
					img(src='https://camo.githubusercontent.com/f0bbe8a500133d33f8879886f7eb89c794c20629/687474703a2f2f696d672e736869656c64732e696f2f6769747469702f6779656e6775732e737667', alt='Support us', data-canonical-src='http://img.shields.io/gittip/gyengus.svg', style='max-width:100%;')
				br
				a(href='https://flattr.com/submit/auto?user_id=gyengus&url=http://tools.gyengus.hu/&title=tools.gyengus.hu&description=Some%20useful%20tools%20for%20webmasters&language=hu_HU&tags=flattr,api,programming&category=software', target='_blank')
					img(src='https://img.shields.io/badge/Flattr-this!-brightgreen.svg')
		+box('Osszad meg!')
			.g-plusone(data-href='http://tools.gyengus.hu/')
			br
			a.twitter-share-button(href='https://twitter.com/share', data-related='Gyenge_Gabor', data-hashtags='tools') Tweet
			script.
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			br
			.fb-like(data-href='http://tools.gyengus.hu/', data-layout='button', data-action='like', data-show-faces='false', data-share='true')
	.clearfix
	script(src='/js/masonry.pkgd.min.js')
	script(src='/js/index.js')
