extends layout

block content
	#box-container
		+box('')
			| Keresőmező
		+box('IP/Host')
			| IP:
			span#ip #{ip}
			br
			| Hostname:
			span#hostname
		+box('Jelszó generátor')
			span#password
		+box('Placeholder')
			| Itt majd lesz valami
	.clearfix
	script(src='/js/index.js')
