extends layout

block content
	#box-container
		+box()
			form#cse-search-box(action='http://www.google.hu', target='_blank')
				div
					input(type='hidden', name='cx', value='partner-pub-9904830194934484:3774910685')
					input(type='hidden', name='ie', value='UTF-8')
					input#in_q(type='text', name='q', placeholder='Keresés')
					//input(type='submit', name='sa', value='Keresés')
			script(type='text/javascript', src='http://www.google.hu/coop/cse/brand?form=cse-search-box&lang=hu')
		+box('IP/Host')
			| IP:
			span#ip #{ip}
			br
			| Hostname:
			span#hostname
		+box('Olvasnivaló')
			!= news
		+box('Jelszó generátor')
			span#password
			|&nbsp;
			button#genpasswordbtn(title='Új jelszó')
				span.icon.icon-loop2
		+box('')
			include adsense_banner.jade
		+box('Hashelés')
			input#in_hash_str(name='in_hash_str', placeholder='Szöveg')
			| Algoritmus:
			select#in_hash
				option(value='md5') MD5
				option(value='sha1') SHA1
				option(value='sha256') SHA256
				option(value='sha512') SHA512
			|&nbsp;
			button#genhashbtn(title='Generálás')
				span.icon.icon-cogs
			br
			div#out_hash
		+box('Hostname lekérdezése')
			input#in_ip(name='in_ip', placeholder='IP')
			button#gethostnamebtn
				span.icon.icon-search
			br
			span#out_hostname
		+box('IP lekérdezése')
			input#in_hostname(name='in_hostname', placeholder='Hostname')
			button#getipbtn
				span.icon.icon-search
			br
			span#out_ip
		+box('date();')
			| UNIX timestamp:
			br
			input#in_timestamp
			button#datebtn
				span.icon.icon-calendar
			br
			| Dátum:
			span#out_date
		+box('strtodate();')
			| Dátum, idő:
			br
			input#in_date
			button#strtodatebtn
				span.icon.icon-calendar
			br
			| UNIX timestamp:
			span#out_timestamp
		//+box('Támogató gombok')
			| Flattr, PayPal donate, Gratipay
		+box('Osszad meg!')
			// Helyezd el ezt a címkét ott, ahol a(z) +1 gomb modult meg szeretnéd jeleníteni.
			.g-plusone(data-href='http://tools.gyengus.hu/')
			br
			.fb-like(data-href='http://tools.gyengus.hu/', data-layout='button', data-action='like', data-show-faces='false', data-share='true')
	.clearfix
	script(src='/js/masonry.pkgd.min.js')
	script(src='/js/index.js')
