extends layout

block content
	#box-container
		+box('Keresés')
			| Keresőmező
		+box('IP/Host')
			| IP:
			span#ip #{ip}
			br
			| Hostname:
			span#hostname
		+box('Olvasnivaló')
			| Itt lesznek a cikkek amik az oldalam RSS-éből jönnek
		+box('Jelszó generátor')
			span#password
		+box('')
			| Ez itt a reklám helye
		+box('Támogató gombok')
			| Flattr, PayPal donate
		+box('Osszad meg!')
			| Like, +1 gombok
	.clearfix
	script(src='/js/index.js')
