extends layout

block content
	#box-container
		.col
			+box('')
				| Keresőmező
		.col
			+box('IP/Host')
				| IP:
				span#ip #{ip}
				br
				| Hostname:
				span#hostname
		.col
			+box('Jelszó generátor')
				span#password
		.col
			+box('Placeholder')
				| Itt majd lesz valami
	.clearfix
	script(src='/js/index.js')
