script(src='https://cdnjs.cloudflare.com/ajax/libs/script.js/2.5.8/script.min.js')
script.
	$script('https://widget.tibit.com/assets/js/tib-2.0.js', function() {
	tibInit( {
	'PAD' : '13GmYWd41WGnLTnarzVihnjew2ayLK7unc',
	'BTN' : 'chevron'});
	});
style(type='text/css').
	.bd-tib-btn .bd-btn-backdrop {fill: #8CC63F;}
button.bd-tib-btn(data-bd-sub='dbbf8fdc-98b3-4ad0-b14b-accc00effc35')
